.social-icon--link {
  padding: 3px;
  width: 2.5rem;
  height: 4rem;
  display: none;


  @media screen and (min-width: 400px){
    display: flex;
  }


  @media screen and (min-width: 768px){
    width: 1.625rem;
  }


  svg {
    width: 100%;
    fill: #fff;
  }

  &.github {
    background-color: $github-color;
  }

  &.linkedin {
    background-color: $linkedin-color;

    svg {
      background-color: $linkedin-color;
    }
  }

  &.upwork {
    background-color: $upwork-color;

    svg{
      padding: 2px;
      position: relative;
      top: 2px;
    }
  }

}

.center-content {
  text-align: center;
}

.nav-link {
  margin-right: 1rem;
  height: 1.5rem;
}

