$primary-color: #183859;
$linkedin-color:#0077B5;
$github-color: #181717;
$upwork-color: #6FDA44;
$background-color: #f9f9f9;
$border-color: darken($background-color, 20%);
$text-color: #2f2f2f;
$light-text-color: #666;
